[user]
	email = leauny@outlook.com
	name = leauny
[http]
	proxy = socks5://127.0.0.1:7890
[https]
	proxy = socks5://127.0.0.1:7890
[alias]
	st = status -sb
	last = log -1 HEAD
[core]
	editor = vim
	autocrlf = input
	quotepath = false
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[init]
	defaultBranch = main
